# =====================================================
# Arquivo de exemplo de variáveis de ambiente (.env.example)
# =====================================================

# Copie este arquivo para ".env" utilizando:
# cp .env.example .env

# As variáveis abaixo já são suficientes para executar o projeto
# utilizando o docker-compose padrão. Mude-as de acordo com sua necessidade.

# ==========================
# PostgreSQL
# ==========================

POSTGRES_DB=repotrack
POSTGRES_USER=repotrack
POSTGRES_PASSWORD=repotrack

# ==========================
# Spring Boot
# ==========================

DB_URL=jdbc:postgresql://postgres:5432/repotrack
DB_USERNAME=repotrack
DB_PASSWORD=repotrack
